.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.8em;
}
@media (max-width: 750px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.none {
  display: none;
}
.visible {
  border-radius: 10px;
  display: flex;
  padding: 10px;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: sienna solid 1px;
  box-shadow: 0 1px 15px 10px saddlebrown;
  background: url("../../assets/woodBackground.jpg");
  z-index: 999;
}
.win {
  font-size: 40px;
  color: gold;
  font-family: cursive;
}
.restart {
  border-top: 1px solid #96d1f8;
  background: linear-gradient(to top, #ed1515, #de1070);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #ccc;
  font-size: 20px;
  width: 150px;
  height: 75px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
}
.restart:hover {
  background-color: goldenrod;
  color: #ccc;
}
.restart:active {
  border-top-color: #1b435e;
  opacity: 90%;
}
.restart:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
