.game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  color: orangered;
}
